@import url('https://fonts.googleapis.com/css2?family=Rozha+One&family=Shippori+Antique&display=swap');

@import './components/button.module.css';
@import './components/userForm.module.css';
@import './components/cvOutput.module.css';

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 600px;
  height: 100%;
  margin: 0 auto;
}
